<tr class="hover">
    <td>Device Type</td>
    <td>{{device}}</td>
</tr>
<tr class="hover">
    <td>Operating System</td>
    <td>{{os}}</td>
</tr>
<tr class="hover">
    <td>Browser</td>
    <td>{{browser}}</td>
</tr>
<tr class="hover">
    <td>Window Resolution</td>
    <td id="srt">
</tr>
<tr class="hover">
    <td>Language</td>
    <td>{{language}}</td>
</tr>
<script type="text/javascript">
    document.getElementById('srt').innerHTML = window.innerWidth + 'x' + window.innerHeight;
    // listen to the changes in the size of the window and change the value of the userAgent input field
    window.addEventListener('resize', function () {
        var width = window.innerWidth;
        var height = window.innerHeight;
        document.getElementById('srt').innerHTML = width + 'x' + height;
    });
</script>