{% extends "base.html" %}

{% block theme %}{{ base.daisy_theme }}{% endblock %}
{% block title %}{{ base.title }}{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="container p-16 flex justify-center">
        {% include "components/stats.html" %}
    </div>
</div>
<div class="flex items-center justify-center bg-base-200 p-16">
    <div class="container bg-base-200 p-16 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4 text-primary text-center">What I Know About You</h2>
        <div class="overflow-x-auto">
            <table class="table-auto w-full bg-base-200">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Metric</th>
                        <th class="px-4 py-2">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">IP Address</td>
                        <td hx-get="/api/ip" hx-swap="innerHTML" hx-trigger="load" class="border px-4 py-2">Unknown
                            address</td>
                    </tr>
                    <tr hx-get="/api/location" hx-swap="outerHTML" hx-trigger="load">

                    <tr>
                        <td class="border px-4 py-2">Device Type</td>
                        <td class="border px-4 py-2">Desktop</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Operating System</td>
                        <td class="border px-4 py-2">Windows 10</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Browser</td>
                        <td class="border px-4 py-2">Chrome</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Screen Resolution</td>
                        <td class="border px-4 py-2">1920x1080</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Language</td>
                        <td class="border px-4 py-2">en-US</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Referrer URL</td>
                        <td class="border px-4 py-2">google.com</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Visit Time</td>
                        <td class="border px-4 py-2">10:30 AM</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Visit Duration</td>
                        <td class="border px-4 py-2">5 minutes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}