<!DOCTYPE html>
<html lang="en" data-theme={% block theme %}{% endblock %}>

<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% include "components/head.html" %}
</head>

<body class="font-sans bg-base-100 w-full">
    <div id="main" class="mx-auto">
        {% include "components/drawer.html" %}
        {# <img class="fixed top-10 right-10 w-1/4 opacity-10 z-[-1]" alt="art portfolio background" #}
            src="/public/pf_logo.svg" />
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>