<div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <!-- Label with "for" attribute should match the input id -->
        <label for="my-drawer" class="btn btn-circle swap swap-rotate drawer-button fixed top-4 left-4 z-40">
            <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 512 512">
                <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
            </svg>
            <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 512 512">
                <polygon
                    points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
            </svg>
        </label>
    </div>
    <div class="drawer-side z-50">
        <label for="my-drawer" class="drawer-overlay z-50"></label>
        <ul
            class="menu p-4 w-80 min-h-full bg-base-200 text-base-content absolute z-50 flex flex-col justify-center items-center">
            <li class="w-full mb-4">
                <a href="/home"
                    class="btn btn-primary btn-block link hover:shadow-lg transition duration-300 ease-in-out rounded-box">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-2" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 11c.837 0 1.593.316 2.182.888a3.087 3.087 0 01.818 2.182c0 1.026-.63 1.972-1.618 2.182a2.992 2.992 0 01-3.545-3.545A2.993 2.993 0 0112 11zm-1 6h2v2h-2v-2zM9 4h6M6 8h12m-9 4h6M6 20h12" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="w-full mb-4">
                <a href="/metrics" class="btn btn-primary w-full link hover:shadow-lg transition duration-300 ease-in-out rounded-box">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-2" fill="none"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 3h18M9 12h6m-6 4h6m-6-8h6M3 16h6m-6-4h6M3 8h6">
                        </path>
                    </svg>
                    Metrics
                </a>
            </li>
            <li class="w-full mb-4">
                <a href="/projects" class="btn btn-primary btn-block link hover:shadow-lg transition duration-300 ease-in-out rounded-box">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-2" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path
                            d="M12 10.465a1.99 1.99 0 00-.528.955l-2.97 2.97-1.472 1.472L8.522 15H4.5v-.864l3.072-3.072zm-1 6h2v2h-2v-2zM9 4h6M6 8h12m-9 4h6M6 20h12" />
                    </svg>
                    Projects
                </a>
            </li>
            <li class="w-full mb-4">
                <a href="/playground" class="btn btn-primary w-full link hover:shadow-lg transition duration-300 ease-in-out rounded-box">
                    <svg width="16px" height="16px" viewBox="0 0 24 24" stroke-width="1.5" fill="none"
                        xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path
                            d="M17.5 17.5C20 21 23.9486 18.4151 23 15C21.5753 9.87113 20.8001 7.01556 20.3969 5.50793C20.1597 4.62136 19.3562 4 18.4384 4L5.56155 4C4.64382 4 3.844 4.62481 3.62085 5.515C2.7815 8.86349 2.0326 11.8016 1.14415 15C0.195501 18.4151 4.14415 21 6.64415 17.5"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18 8.5L18.0111 8.51" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path d="M16.49 7L16.5011 7.01" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path d="M16.49 10L16.5011 10.01" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M15 8.5L15.0111 8.51" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                        <path d="M7 7V10" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M5.5 8.5H8.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M8 16C9.10457 16 10 15.1046 10 14C10 12.8954 9.10457 12 8 12C6.89543 12 6 12.8954 6 14C6 15.1046 6.89543 16 8 16Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M16 16C17.1046 16 18 15.1046 18 14C18 12.8954 17.1046 12 16 12C14.8954 12 14 12.8954 14 14C14 15.1046 14.8954 16 16 16Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Playground
                </a>
            </li>
            {% include "theme-dropdown.html" %}
        </ul>
    </div>


</div>