{% extends "base.html" %}
{% let title = "Axhat Stack Template" %}
{% block theme %}
<html lang="en" data-theme="{{ daisy_theme }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="/public/style.css">
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://cdn.jsdelivr.net/npm/daisyui"></script>
{% endblock %}

{% block content %}
<div class="mx-auto p-6 relative">
    {% include "drawer.html" %}
    {% include "diff.html" %}
</div>
{% endblock %}