{% extends "base.html" %}
{% let title = "Axhat Stack Template" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="/public/style.css">
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto p-6 shadow-lg rounded-lg">
    <article class="prose mx-auto mb-8">
        <h1 class="text-center">{{ title }}</h1>
        <p class="text-center text-gray-600">This README has been dynamically loaded.</p>
        {{ readme|safe }}
        <p class="text-center mt-4">
            <a href="https://github.com/tm26a21p/axhat-stack-template">
                <button class="hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg">
                    View on Github
                </button>
            </a>
        </p>
    </article>
    <div class="dropdown mb-72">
        <div tabindex="0" role="button" class="btn m-1">
            Theme
            <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
                <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
            </svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
            <li><input type="radio" name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Default"
                    value="default" /></li>
            <li><input type="radio" name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro"
                    value="retro" /></li>
            <li><input type="radio" name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cyberpunk"
                    value="cyberpunk" /></li>
            <li><input type="radio" name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine"
                    value="valentine" /></li>
            <li><input type="radio" name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Aqua"
                    value="aqua" />
            </li>
        </ul>
    </div>

</div>
{% endblock %}