<div class="flex justify-between min-h">
    <table class="table">
        <thead>
            <tr class="">
                {# <th></th> #}
                {# <th class="text-left text-lg">Metric</th>
                <th class="text-right text-lg">Value</th> #}
            </tr>
        </thead>
        <tbody>
            <tr class="hover">
                <td>IP Address</td>
                <td hx-get="/api/ip" hx-swap="innerHTML" hx-trigger="load">Unknown
                    address</td>
            </tr>
            <tr class="hover" hx-get="/api/location" hx-swap="outerHTML" hx-trigger="load">
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>

        </thead>
        <tbody>
            <tr class="hover" hx-get="/api/device_info" hx-swap="outerHTML" hx-trigger="load">
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>

        </thead>
        <tbody>
            <tr class="hover" hx-get="/api/visit_info" hx-swap="outerHTML" hx-trigger="load">
            </tr>
        </tbody>
</div>